/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes

 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; border:none !important; } 


/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%; 
	display: block;
	/*border-radius:0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;*/
}
.flex-pauseplay span {text-transform: capitalize;}


#carousel .slides img {
	cursor: pointer;
	display: block;
}
#carousel {
	position: relative;
}
/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { 
	position: relative; 
	z-index:99;
	overflow:auto;
	max-width:1170px;
	clear:both;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */

.flex-direction-nav li:before {
	content:"";
	margin:0;
	padding:0;
}

.flex-direction-nav a {
	/*background: url("img/bg_direction_nav_white.png") no-repeat scroll 0 0 transparent;
    background-color: #FF9000;*/
    cursor: pointer;
    display: block;
    height: 40px;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 40px;
    z-index: 10;
	opacity:.9 !important;
	text-indent:inherit;
	
	transition: all .2s ease 0s;
	-moz-transition: all .2s ease 0s;
	-webkit-transition: all .2s ease 0s;
	-o-transition: all .2s ease 0s;
	-ms-transition: all .2s ease 0s;
}



#carousel .flex-direction-nav a {display:none;}

#carousel img { 

  -webkit-transition: all 120ms ease-in ; /* property duration timing-function delay */
       -moz-transition: all 120ms ease-in ; /* property duration timing-function delay */
          transition: all 120ms ease-in ; /* property duration timing-function delay */
}
#carousel .flex-active-slide img {  }

.flex-direction-nav .flex-next, #carousel .flex-direction-nav .flex-next {background-position: 100% 0;  }

.flex-direction-nav .flex-next i, .flex-direction-nav .flex-prev i {
	color: #FFFFFF;
    font-size: 30px;
    padding: 5px 15px;
}

.flexslider .flex-next {
	opacity: 0.8; 
	right: 0;
	top:0 !important;
	border-top: 90px solid #f6d600; 
	border-left: 90px solid transparent;
}

.flexslider .flex-next:hover {
	border-top: 90px solid #999; 
	border-left: 90px solid transparent;
}

.flex-next-shadow {
	border-top: 110px solid rgba(0,0,0,.5); 
	border-left: 110px solid transparent;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
}

.flexslider .flex-next:hover:after {
	color:white !important;	
}

.flexslider .flex-next:after {
	content:"\f054";
	font-family:'FontAwesome';	
	font-size:20px;
	color:black;
	position:absolute;
	bottom:46px;
	right:15px;
}

.flexslider .flex-prev {
	bottom: 0 !important;
    left: 0;
    opacity: 0.8;
    top: auto;
	border-bottom: 90px solid #f6d600; 
	border-right: 90px solid transparent;
}

.flexslider .flex-prev:hover {
	border-bottom: 90px solid #999; 
	border-right: 90px solid transparent;
}

.flex-prev-shadow {
	border-bottom: 110px solid rgba(0,0,0,.5); 
	border-right: 110px solid transparent;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}

.flexslider .flex-prev:hover:after {
	color:white !important;	
}	

.flexslider .flex-prev:after {
	content:"\f053";
	font-family:'FontAwesome';	
	font-size:20px;
	color:black;
	position:absolute;
	top:52px;
	left:15px;
}



.flexslider .flex-next, .flexslider .flex-prev {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
/*.flex-control-nav {
	width: 100%; position: absolute; 
	bottom: -40px; 
	text-align: center; 
	z-index:98;
}*/
.flex-control-nav {
	/*width: 100%; */
	text-align: center;
	padding:15px 0;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/* Caption */
.flex-holder {
    position: absolute;
    top:0;
    margin: 0 auto;
    width: 100%;
    height: 100%; }

.flex-caption {
    position: relative;
    z-index: 2000;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    padding-left:0;
    margin:0 auto;
}

.flex-caption div {
    position: absolute;
    width: auto;
    /*top: 33%;*/
	/*left:50%;*/
}
.flex-caption h1 {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 17px 20px 20px 12px;
	border-radius: 15px 50px 50px 15px;
	-moz-border-radius: 15px 30px 30px 15px;
	-webkit-border-radius: 15px 30px 30px 15px;
	-ms-border-radius: 15px 30px 30px 15px;
    transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
}
.flex-caption h1 a {
	color: #000;
	font-size: 43px;
	text-decoration: none;
}

.flex-caption-decription {
    background-color:rgba(255, 255, 255, 0.8);
    display: block;
    float: left;
    line-height: 150%;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 10px 25px 10px 15px;
    clear:left;
	border-radius: 15px 30px 30px 0px;
	-moz-border-radius: 15px 30px 30px 0px;
	-webkit-border-radius: 15px 30px 30px 0px;
	-ms-border-radius: 15px 30px 30px 0px;
    transition: all 0.5s ease-out .3s;
	-moz-transition: all 0.5s ease-out .3s;
	-webkit-transition: all 0.5s ease-out .3s;
	-ms-transition: all 0.5s ease-out .3s;
}

.flex-caption-btn {
    /*display: block;*/
    float: right;
    float:left;
    clear:left;
}

.caption-btn {
    clear: both;
    display: block;
    margin: 0;
    width: 50px;
}

.caption-btn li:last-child a {
     border-right: none;
}

.caption-btn li {
    background: none repeat scroll 0 0 white;
    list-style: none outside none;
    margin: 0 0 0 5px;
	transition:all 120ms ease-in 0s;
	height:40px;
}

.caption-btn li:hover {
    background: none repeat scroll 0 0 rgba(0, 92, 136, 0.9);
	cursor:pointer;
	height:40px;
}

.caption-btn li a span {
    color: #000;
}

.caption-btn li a {
    color: grey;
    display: block;
    padding: 23.5% 14px;
    text-decoration: none;
}

.caption-btn li a:hover {
	color:white;
}

#carousel .slides li:last-child {
	margin-right: 0 !important;
}

.sliderWrapper { 
margin-bottom: 50px; 
}

.sliderLogo {
    position: absolute;
    z-index: 999;
    top: 10%;
 
}
.carouselWrapper {
    background: #f6f6f6;
    padding: 20px 0;
}
#slider li {
   margin: 0;
}
#carousel li {
    cursor: pointer;
    margin: 0 20px 0 0;
}
#carousel li img {
    /*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;*/
}

/* Flexslider overrides */

.pm-main-post-slider, .pm-post-slider {
	height:inherit;	
	background-color:transparent;
}

.flexslider .slides li:before {
	content:"";
	margin:0;
	padding:0;	
}

.flexslider .slides li {
	border:none !important;	
	position:relative;
}

.flex-caption div {
    top: 52%;
}

.flexslider .row > .span4 {
    margin-bottom:30px !important;
}


.flex-control-thumbs li {
	float: left;
    margin: 0;
    width: auto !important;
    border: 1px solid #999;
	border-radius:0 10px 0 10px;
	-moz-border-radius:0 10px 0 10px;
	-webkit-border-radius:0 10px 0 10px;
	-ms-border-radius:0 10px 0 10px;
}

.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    opacity: 0.7;
    width: auto !important;
	border-radius:0 10px 0 10px;
	-moz-border-radius:0 10px 0 10px;
	-webkit-border-radius:0 10px 0 10px;
	-ms-border-radius:0 10px 0 10px;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow:inherit !important;
    position:inherit !important;
}

.flex-control-nav {
    bottom: 0 !important;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 70%;
    padding-top: 0;
    position: absolute !important;
    text-align: center !important;
    z-index: 8000;
}

.flex-control-nav li {

    display: inline-block;
    margin: 1px !important;
}

.pm-flexslider-details {
	max-width:400px;
	background-color:rgba(44, 50, 59, .95);
	position:absolute;
	right:0;
	bottom:30px;
	z-index:100;
	padding:15px 20px;
}

.pm-flexslider-details .title {
	font-family:'Lato';
	color:#f6d600;
	font-size:23px;	
	text-transform:uppercase;
	font-weight:500;
	margin-bottom:5px;
}

.pm-flexslider-details .details {
	font-family:'Open sans';
	color:white;
	font-size:14px;	
	font-weight:300;
	margin-bottom:0px;
}

